class Producto {
  nombre : string;
  precio : int;

  __constructor(nombre : string, precio : int) {
    this.nombre = nombre;
    this.precio = precio;
  }

  Mostrar() {
    print(this.nombre);
    print(this.precio);
  }
}

int i = 0;
let productos = from "productos_10000.csv", Producto;
let productos2 = from "productos_10000.csv", Producto;
let productos3 = from "productos_10000.csv", Producto;
let productos4 = from "productos_10000.csv", Producto;
let productos5 = from "productos_10000.csv", Producto;
let productos6 = from "productos_10000.csv", Producto;
let productos7 = from "productos_10000.csv", Producto;
let productos8 = from "productos_10000.csv", Producto;
let productos9 = from "productos_10000.csv", Producto;
let productos10 = from "productos_10000.csv", Producto;


let filtrados = filter(productos, p => p.precio != 2); // LINQ
for (let item in productos_del_papa_leon) {
    //print("Producto de papa leon:");
    //item.Mostrar();
    i = i + 1;
}

/*for (let _item in productos10) {
    print("Producto:");
    _item.Mostrar();
    i = i + 1;
}*/
print(i);