class Producto {
    nombre : string;
    precio : int;

    __constructor(_nombre : string, _precio : int) {
        this.nombre = _nombre;
        this.precio = _precio;
    }

    Mostrar() {
        print(this.nombre);
        print(this.precio);
    }
}

let producto = new Producto("Fruta", 1);
producto.Mostrar();

let productos = [
    new Producto("Pan", 1),
    new Producto("Leche", 2),
    new Producto("Latte", 3)
];

let filtrados = filter(productos, p => p.precio > 1);

for (let item in filtrados) {
    print("Producto: ");
    item.Mostrar();
}
