/* ***********************
Esta es mi clase DE LOS DIOSES
**************************/
/*class Person {
    edad : int;  
    nombre : string;
    __constructor(_edad : int, _nombre : string) {     
        this.edad = _edad;
        this.nombre = _nombre;        
    }
    Imprimir(p_edad : int) {   
        this.edad = p_edad;      
        print("MI EDAD ES: ");
        print(this.edad);
        print("MI NOMBRE ES: ");
        print(this.nombre);
    }  
    
    Saludar() {           
        string test = "hola";
        return test;   
    }

    Contar(){
        int numero = 2 +1 +1 +1 - 1 ;
        return numero;
    }
}

let obj = new Person(28, "PEDRO");
//obj.Imprimir(12);
string saludo = obj.Saludar();
int edad = 25;
int miNumero = obj.Contar();
this.edad = this.edad + 12;
//print(this.edad);
//(saludo);
print(miNumero);*/

dataset train_data from "train.csv";
model myModel { 
        layer Dense(128, relu);
        layer Dense(10, softmax);
 }
train(myModel, train_data, epochs=25);
var i = predict(myModel, test_sample);
print(i);




/*var sample_input = "entrada";
predict(myModel, sample_input);
print(sample_input);*/


/*string myModel = "modelo";
string sample_input = "entrada";

predict(myModel, sample_input);*/


//let obj = new Person(28, "PEDRO");
//obj.Imprimir(12);
//string saludo = obj.Saludar();
//int edad = 25;
//this.edad = this.edad + 12;
//print(this.edad);
//print(saludo);



/* ***********************
 Creación de variables
**************************/
/*// String
string cadena = "ESTE ES UN STRING DE LOS DIOSES..";
// Float
float suma = 100 + 100 * 2;
float pi = 3;
float operacion = 100 + 2;
// Int
int contador = 0;
int i = 0;
int j = 0;
int x = 0;

string for_uno = "FOR1";
string for_dos = "FOR2";
string for_tres = "FOR3";*/

/* ***********************
FOR ANIDADOS
**************************/

/*for(i = 0; 2; 1)   {  
    contador =  contador + 111;
    for(j = 0; 2; 1){ 
        print(for_dos);
        for(x = 0; 2; 1){
            print(for_tres);
        }           
    }
}*/

/* ***********************
Imprimiendo RESULTADOS:
**************************/
/*print(contador);
print(cadena);
print(pi);
print(operacion);
print(suma);*/