
string cadena = "ESTE ES UN STRING DE LOS DIOSES..";

float suma = 100 + 100 * 2;
float pi = 3;
float operacion = 100 + 2;

int tope = 5;
int incremental = 1;
int index = 0;
int contador = 0;
int i = 0;

for(i = 0; 10; 1)   {
    print(i);   
    for(j = 0; 10; 1){
        print(j);   
    }  
}  

print(contador);
print(index);
print(cadena);
print(pi);
print(operacion);
print(suma);