
string cadena = "ESTE ES UN STRING DE LOS DIOSES.."

float suma = 100 + 100 * 2
float pi = 3
float operacion = pi * 100 + 2

var tope = 5
var incremental = 1
var index = 0
var contador = 0

for (index ; tope ; incremental) {     
    print contador
    contador = contador + 1
}

print contador
print index
print cadena
print pi
print operacion
print suma