class Producto {
  nombre : string;
  precio : int;
  __constructor(nombre : string, precio : int) {
    this.nombre = nombre;
    this.precio = precio;
  }
}
let productos = from "productos_big.csv", Producto;
println(productos.length);
