
string cadena = "ESTE ES UN STRING DE LOS DIOSES..";
// Float
float suma = 100.00;
float pi = 3.00;
float operacion = 100 + 2;
// Int
int contador = 0;
int i = 0;
int j = 0;
int x = 0;

string for_uno = "FOR1";
string for_dos = "FOR2";
string for_tres = "FOR3";

/* ***********************
FOR ANIDADOS
**************************/

for(i = 0; 2; 1)   {  
    contador =  contador + 111;
    for(j = 0; 2; 1){ 
        println(for_dos);
        for(x = 0; 2; 1){
            println(for_tres);
        }           
    }
}

/* ***********************
Imprimiendo RESULTADOS:
**************************/
println(contador);
println(cadena);
println(pi);
println(operacion);
println(suma);