/* ***********************
Esta es mi clase DE LOS DIOSES
**************************/
class Person {
    edad : int;  
    nombre : string;
    company : string;
    __constructor(_edad : int, _nombre : string, _company : string) {        
        this.company = _company;                 
        this.edad = _edad;
        this.nombre = _nombre;        
    }
    Imprimir(p_edad : int) {          
       
        const pi = 3.1416;
        print("EL VALOR DE PI ES: ");
        print(pi);  
        println("MI EDAD ES: ");
        print(this.edad);
        print("MI NOMBRE ES: ");
        print(this.nombre);
        println("MI EMPRESA ES: ");
        println(this.company);
    }  
    
    Saludar() {           

      int x = 10;
      int y = 5;

      // -------------------------------- Ejemplo de if-else------------------------------------------
      if(x > y) {
          println("x es mayor que y");
      } else {
          println("x es menor o igual que y");
      } 

        string test_local = "hola";
        return test_local;   
    }

    ObtenerEdad() {
        float edad_double = 3.4;
        return edad_double;
    }

    Contar(){
        int numero = 8 * 3;//2 * 2  / 2 + 1 + 1 + 1 - 1 ;
        return numero;
    }
}

int mi_edad = 36;
string mi_nombre = "Fernando Ingunza";
string mi_empresa = "Roussecloud";
let obj = new Person(mi_edad, mi_nombre, mi_empresa);
let persona = new Person(mi_edad, mi_nombre, mi_empresa);

//int contarResult = obj.Contar();
//float edadResult = obj.ObtenerEdad();

string saludarResult1 = persona.Saludar();
string saludarResult2 = obj.Saludar();
obj.Imprimir(12);
println(saludarResult1);
println(saludarResult2);
//println(contarResult);
//println(edadResult);

