/* ***********************
Esta es mi clase DE LOS DIOSES
**************************/
class Person {
    edad : int;  
    nombre : string;
    company : string;
    __constructor(_edad : int, _nombre : string, _company : string) {        
        this.company = _company;                 
        this.edad = _edad;
        this.nombre = _nombre;        
    }
    Imprimir(p_edad : int) {          
        println("MI EDAD ES: ");
        print(this.edad);
        print("MI NOMBRE ES: ");
        print(this.nombre);
        println("MI EMPRESA ES: ");
        println(this.company);
    }  
    
    Saludar() {           
        string test_local = "hola";
        return test_local;   
    }

    ObtenerEdad() {
        float edad_double = 3.4;
        return edad_double;
    }

    Contar(){
        int numero = 8 * 3;//2 * 2  / 2 + 1 + 1 + 1 - 1 ;
        return numero;
    }
}

int mi_edad = 36;
string mi_nombre = "Fernando Ingunza";
string mi_empresa = "Roussecloud";
let obj = new Person(mi_edad, mi_nombre, mi_empresa);
string saludarResult = obj.Saludar();
int contarResult = obj.Contar();
float edadResult = obj.ObtenerEdad();
obj.Imprimir(12);  


println(saludarResult);
println(contarResult);
println(edadResult);

