class Producto {
  nombre : string;
  precio : int;

  __constructor(nombre : string, precio : int) {
    this.nombre = nombre;
    this.precio = precio;
  }

  Mostrar() {
    print(this.nombre);
    println(this.precio);
  }
}

let productos_del_papa_leon = [
    new Producto("Chocolate", 1),
    new Producto("Panetón", 2),
    new Producto("Empanada", 3),
    new Producto("Flan", 2),
    new Producto("Ceviche", 2)
];

let productos = from "productos.csv", Producto;
let filtrados = filter(productos, p => p.precio != 2); // LINQ
for (let item in productos_del_papa_leon) {
    print("Producto de papa leon:");
    item.Mostrar();
}

/*for (let _item in filtrados) {
    print("Producto:");
    _item.Mostrar();
}*/
