// expect: 8
// Loads CSV into a list of Producto and prints the row count.

class Producto {
    nombre    : string;
    precio    : int;
    categoria : string;
}

let productos = from "productos.csv", Producto;
println(productos.length);
