// Test endpoint con @Cache(30) — patrón TypeEasy:
// Imprimir el body por println y retornar json() o xml()

@Cache(30)
endpoint {
    [HttpGet("/api/rapido")]
    saludo() {
        println("{");
        println("  \"mensaje\": \"Hola desde TypeEasy\"");
        println("}");
        return json();
    }

    [HttpGet("/api/lento")]
    pesado() {
        var s = 0;
        var i = 0;
        while (i < 100) {
            s = s + i;
            i = i + 1;
        }
        var body = "{\n" +
                "  \"mensaje\": \"Hola desde TypeEasy\",\n" +
                "  \"suma\": " + s + ",\n" +
                "  \"suma2\": " + ((s * 2) * 2) + ",\n"+
                "  \"suma3\": " + (s * 3) + "\n" +
                "}";
        println(body);
        return json();
    }
     [HttpPost("/api/users/{id}")]
    getUser() { 
        let id = request_param("id");
        return json(concat("{\"test10\": \"", id, "\"}"));
    }
}
