// Endpoints con @Cache(30) como decorator del bloque endpoint{}

@Cache(30)
endpoint {
    [HttpGet("/lento")]
    pesado() {
        var s = 0;
        var i = 0;
        while (i < 100) {
            s = s + i;
            i = i + 1;
        }
        return s;
    }

    [HttpGet("/rapido")]
    saludo() {
        return "Hola desde TypeEasy";
    }
}
