// La clase LineaItem no cambia.
class LineaItem {
    producto: string;
    cantidad: int;
    precio: int;

    __constructor(_producto: string, _cantidad: int, _precio: int) {
        this.producto = _producto;
        this.cantidad = _cantidad;
        this.precio = _precio;
    }
}

class Factura {
    cliente: string;
    fecha: string;    

    __constructor(_cliente: string, _fecha: string) {
        this.cliente = _cliente;
        this.fecha = _fecha;       
    }
}

endpoint {
    [HttpGet("/api/facturas")]
    GetFacturas() {
        let mi_factura = new Factura("Cliente de Verdad S.A.", "2025-09-06");
        return json(mi_factura);
    }
}