// Endpoint MySQL para TypeEasy
// Demuestra integración con base de datos MySQL

endpoint {
    [HttpGet("/api/mysql/usuarios")]
    GetUsuariosMySQL() {
        // Conexión a MySQL de XAMPP en la máquina host (Windows)
        // host.docker.internal:3308 - puerto de XAMPP
        
        let conn_id = new mysql_connect("host.docker.internal", "root", "", "meri");
        print("hola");
        // Ejecutar query
        let result = new mysql_query(conn_id, "SELECT * FROM bitacora");
        print("hola");
        // Cerrar conexión
        //mysql_close(conn_id);
        
        // Retornar resultado como JSON
        //return json(result);
    }
}
