

// Ejemplo de conexión y consulta ORM a MySQL usando TypeEasy
class Usuario {
  id : int;
  usuario : string;
  email : string;
  __constructor(id : int, usuario : string, email : string) {
    this.id = id;
    this.usuario = usuario;
    this.email = email;
  }
}

/***************************************** */
// Endpoint para consultas ORM a MySQL
// Conexión a MySQL de XAMPP en la máquina host (Windows)
// host.docker.internal:3308 - puerto de XAMPP     
/***************************************** */
endpoint {

          [HttpGet("/api/mysql-orm/local-xampp-server/usuarios")]
          GetUsuariosORM() {  

              string _query = "SELECT * FROM users LIMIT 5";   
              string _host = "host.docker.internal";
              string _user = "root";
              string _pass = "";
              string _db   = "meri";
              int _port = 3308;                                

              let _conn_id = new mysql_connect(_host, _user, _pass, _db, _port);           
              let _usuarios = orm_query(_conn_id, _query, Usuario);
             
              mysql_close(_conn_id);            
               
              return xml(_usuarios);
        }
}
