// Mi código TypeEasy para manejar rutas y devolver JSON
// Simulamos una petición a /api/productos
class Producto {
    precio: int;
    nombre: string;
    categoria: string;
    __constructor(_precio: int, _nombre: string, _categoria: string) {
        this.precio = _precio;
        this.nombre = _nombre;
        this.categoria = _categoria;
    }
}

endpoint {
    [HttpGet("/api/productos")]
    GetProductInfo() {
        let producto = new Producto(99, "Teclado Mecánico RGB", "Periféricos");
        return json(producto);
    }
}