// La clase para los items de la orden es la misma, ¡reutilizamos código!
class LineaItem {
    producto: string;
    cantidad: int;
    precio: int;

    __constructor(_producto: string, _cantidad: int, _precio: int) {
        this.producto = _producto;
        this.cantidad = _cantidad;
        this.precio = _precio;
    }
}

// Otra clase para la orden de compra.
class OrdenDeCompra {
    proveedor: string; 
    fecha: string;

    __constructor(_proveedor: string, _fecha: string) {
        this.proveedor = _proveedor;
        this.fecha = _fecha;
    }   
}

endpoint {
    [HttpGet("/api/proveedores")]
    GetProveedores() {
        let mi_orden = new OrdenDeCompra("Suministros Industriales S.A.", "2025-09-06");
        return xml(mi_orden);
    }
}