endpoint {
    [HttpGet("/api/test/simple-call-xml")]
    TestSimple() {
        println("<Testsimple>");
        println("</Testsimple>"); 
        return xml();       
    }
}
