// Ejemplo de conexión y consulta ORM a MySQL usando TypeEasy
// Archivo: orm_mysql.te

class UsuarioOrm {
  Id : int;
  usuario : string;
  email : string;

  __constructor(_id : int, _usuario : string, _email : string) {
    this.Id = _id;
    this.usuario = _usuario;
    this.email = _email;
  }

  MiNombre() : dynamic {
    let nombre = this.usuario;
    println(nombre);    
  }
}

class FiltroProducto {
      id: int;
      usuario: string;
      email: string;
    __constructor(_id: int, _usuario: string, _email: string) {
        this.id = _id;
        this.usuario = _usuario;
        this.email = _email;
    }
}

endpoint {

  [HttpGet("/api/mysql-orm/public-server/usuarios")]
  GetPublicUsuariosORM() {
    
    string host = "gateway01.us-east-1.prod.aws.tidbcloud.com";
    string user = "2XCY4FHDYiMMcdi.root";
    string pass = "dMal8ex6FlLgprno";
    string db   = "test";
    int port = 4000;

    let conn_id = mysql_connect(host, user, pass, db, port, { "tls": 1 }); 
    

    var filtro = new FiltroProducto(1, "O'Reilly Book6", "test3");
    let r6 = mysql_query(
    conn_id,
    "INSERT INTO usuarios (usuario, email) VALUES (@usuario, @email)",
      { "@usuario": "O'Reilly Book", "@email": "test9" }
);
    println("[r6_insert] ");
    println(r6);
    
    string query = "SELECT * FROM usuarios WHERE Id > @min_id ORDER BY Id DESC LIMIT @lim";
   
    
    let usuarios = mysql_query(conn_id, query,
        { "@min_id": 0, "@lim": 5 },
        UsuarioOrm);

    int count = usuarios.length;
 
    /*for (let item in usuarios) {
        println("Nombre:");       
        item.MiNombre();       
        println(item.email);        
    }*/
  
    // Cerrar conexión
    mysql_close(conn_id);

    return xml(usuarios);
   
  }
}
