// spec: NUM-2
// expect-exit: 1
// expect-stderr-contains: cannot assign a value of type 'FLOAT' to a variable of type 'INT'
let b : int = 3.0;
println(b);
